* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
  }

  :root{
   /* Dark cyan: hsl(185, 75%, 39%)
    Very dark desaturated blue: hsl(229, 23%, 23%)
    Dark grayish blue: hsl(227, 10%, 46%)
    Dark gray: hsl(0, 0%, 59%)
    Font size (name and stats): 18px
    Weights: 400, 700 */

    --dark_cyan: hsl(185, 75%, 39%);
    --very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --dark_grayish_blue: hsl(227, 10%, 46%);
    --dark_gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
    --font_size: 18px;
    --font_weight_400: 400;
    --font_weight_700: 700;
    
  }

  body, html {
    height: 100%;
  }